.input-search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

input {
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -webkit-box-shadow: 5px 5px 13px 0px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 5px 5px 13px 0px rgba(0, 0, 0, 0.34);
  box-shadow: 5px 5px 13px 0px rgba(0, 0, 0, 0.34);
  background: #cccccc;
  border: none;
  outline: none;
  height: 45px;
  padding-left: 25px;
  font-size: large;
  width: 35rem;
}

input:hover {
  background: #ffffff;
  transition: 0.3s;
}

input::placeholder {
  color: var(--text-subtitle);
  opacity: 0.6;
  font-family: 'Abel', sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--text-subtitle);
  opacity: 0.6;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--text-subtitle);
  opacity: 0.6;
}
