.title-header {
  background-color: var(--text-subtitle);
}

h1 {
  color: var(--text-title);
  height: 65px;
  font-family: 'Abel', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}
