.title-header {
  background-color: var(--text-subtitle);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.title-header a {
  font-size: 2rem;
  font-family: 'Abel', sans-serif;
}
